---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div id="cielo">
			<img id="dino" src="/dino.png" />
		</div>
		<footer id="tierra"/>
	</main>
</Layout>

<script src="/src/func/index.js"/>

<style>
	main {
		background: #fff;
		color: #000;
		width: 50rem;
		height: 20rem;
		display: flex;
		flex-direction: column;
		justify-content: end;
		border: 1px solid #000;
	}

	#tierra {
		background: #2ceb0a;
		color: #fff;
		width: 100%;
		height: 20%;
	}

	#cielo {
		width: 100%;
		height: 100%;
		background-image: url("/cielo.png");
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
	}
	
	#dino {
		width: 5%;
		position: absolute;
		bottom: 0px;
	}

</style>